@model IEnumerable<MVCegitimi.Models.Products>

@{
    ViewBag.Title = "Ürünler";

    @ViewBag.kelime
}

<h2>Ürünler</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create")
</p>
<form action="/Mvc14CRUD/Index" method="get" class="row">
    <div class="col">
        <input id="Text1" type="text" name="kelime" />
        <input id="Submit1" type="submit" value="Ara" />
    </div>
</form>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StokMiktari)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StokMiktari)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detay", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
